@model TSD2491_oblig1_255004.Models.BlazerMatchingGameModel

@{
    ViewData["Title"] = "MVC Matching Game";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <style>
        .container {
            width: 400px;
        }

        .button {
            width: 100px;
            height: 100px;
            font-size: 50px;
        }
    </style>
</head>
<body>

<div class="text-center">
    <h1 class="display-4">TSD2491 – Oblig1</h1>
</div>
    <div class="container">
        <div class="row">
            @for (var emojiNumber = 0; emojiNumber < Model.shuffledEmoji.Count; emojiNumber++)
            {
                var emoji = Model.shuffledEmoji[emojiNumber];
                var uniqueDescription = $"Button #{emojiNumber}";
                <div class="col-3">
                    @using (Html.BeginForm("ButtonClick", "Home", FormMethod.Post))
                    {
                        <input type="hidden" name="emoji" value="@emoji" />
                        <input type="hidden" name="description" value="@uniqueDescription" />
                        <input type="submit" value="@emoji" class="button" />
                    }
                </div>
            }
        </div>
        <div class="row">
            <h2>Match found: @Model.MatchesFound</h2>
            @if (Model.GameStatus == "Game Running")
            {
                <h3>Game Status: @Model.GameStatus</h3>
            }
            else if (Model.GameStatus == "Game Complete")
            {
                <h3>Game Status: @Model.GameStatus</h3>
            }
        </div>

    </div>
